@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $drawer: (
    'bg-color': red,
  )
);

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

$color-background: #242734;
$color-background-light: #F7F7FB;
$color-text: #161616;
$color-text-weak: #999;
$color-text-light: #F7F7FB;
$color-text-light-weak: #a4a0a0;
$color-primary: #e79000;
$color-accent: #FF9228;
$color-soft: #F59A74;

$size-bottomMenu-height: 70px;

#app::v-deep .el-overlay {
  background-color: pink;
}

* {
  //color: $color-text;
  font-family: 'Overpass', sans-serif;
  letter-spacing: -0.2px;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 17px;
}

router-link, a {
  color: $color-text;
  text-decoration: none;

  &:hover {
    color: $color-text;
    text-decoration: none;
  }
}


.clickable {
  cursor: pointer;
  &:hover {
    color: var(--el-color-primary);
  }
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

